
*.vsidx
.vs/M6A2Adats/v17/.suo
bin/Debug/Assembly-CSharp.dll
bin/Debug/AwesomeTechnologies.VegetationStudioPro.Runtime.dll
*.dll
*.dll
obj/Debug/M6A2Adats.csproj.AssemblyReference.cache
.vs/M6A2Adats/FileContentIndex/c9e5c347-b7bc-451b-85cd-4c3d43d90135.vsidx
.vs/M6A2Adats/v17/.suo
bin/Debug/Assembly-CSharp.dll
bin/Debug/AwesomeTechnologies.VegetationStudioPro.Runtime.dll
bin/Debug/M6A2Adats.dll
bin/Debug/M6A2Adats.pdb
obj/Debug/M6A2Adats.csproj.AssemblyReference.cache
obj/Debug/M6A2Adats.dll
obj/Debug/M6A2Adats.pdb
*.vsidx
*.vsidx
.vs/M6A2Adats/v17/.suo
bin/Debug/AwesomeTechnologies.VegetationStudioPro.Runtime.dll
bin/Debug/M6A2Adats.pdb
bin/Debug/Newtonsoft.Json.dll
*.cache
*.pdb
/.vs
/bin
*.pdb
*.txt
*.cache
/.vs
/.vs
*.cache
/.vs
/obj
/obj
/bin
/.vs
